.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.div1 { 
    grid-area: 1 / 1 / 2 / 7; 
    text-align: center;
}

.div2 { 
    grid-area: 2 / 1 / 3 / 7; 
    text-align: center;
}

.div2 > .quiz-span {
    margin: 50px;
    margin-bottom: 20px;
}
.div3 { 
    grid-area: 3 / 1 / 11 / 5;
    margin-left: 80px; 
}
.div4 { 
    grid-area: 3 / 5 / 11 / 7; 
}

.the-questions-answer {
    background-color: greenyellow;
}